<!DOCTYPE html>
<head>
	<meta charset="UTF-8" />
	<title>VoxelServers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:title" content="We've Moved!" />

	<link rel="icon" type="image/png" href="/v1/static/images/logos/VS_Fox.ico" />
</head>

<body>
	<div style="display: flex; align-items: center; justify-content: center; min-height: 100vh">
		<div>We've Moved! Head over to <a href="https://vs.voxxie.me" class="text-blue-400 underline"> https://vs.voxxie.me</a></div>
	</div>
</body>
